<div >
    <div class="footerHolder">
        <div class="footerTop center">
            <div>
                <div class="text">About us</div>
                <div class="text">Help</div>
                <div class="text">Home</div>
            </div>
            <div>
                <div class="text">Testimony</div>
                <div class="text">Events</div>
                <div class="text">Partners</div>
            </div>
            <div>
                <div class="text">FAQ</div>
                <div class="text">Return</div>
                <div class="text"> Blog </div>
            </div>
        </div>
        <div class="socialsHolder center">
            <div class="facebook socials">
                <a routerLink="#" class="icon">
                <img  style="width: 50px;" src="../../assets/icons/meta.jpg">
                Meta
                </a>
            </div>
            <div class="youtube socials">
                <a routerLink="#" class="icon">
                <img  style="width: 30px;" src="../../assets/icons/youtube.png">
                Youtube
                </a>
            </div>
            <div class="instagram socials">
                <a routerLink="#" class="icon">
                <img  style="width: 20px;" src="../../assets/icons/instagram.png">
                Instagram
            </a>
            </div>
    </div>
</div>