.signupForm
{
    width:500px; 
    margin:auto; 
    background-color: rgb(186, 231, 171);
    padding:20px;
    border-radius: 25px;
}

.signupFormHolder
{
    background-color: rgb(198, 240, 185);
    padding:50px;
}

.form-control
{
    margin-bottom: 10px;
}

.btn-secondary
{
    margin-top: 10px;
}